{% load bootstrap3 %}
{% load staticfiles %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Domotik</title>
    {% bootstrap_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Domotik</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Accueil
                    </a>
                </li>

                <li>
                    <a href="{% url 'rooms' %}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        Pièces
                    </a>
                </li>

                <li>
                    <a href="{% url 'lights' %}">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        Lumières
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'planning' %}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        Planning
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'faq' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        F.A.Q
                    </a>
                </li>
            </ul>

        </div>
    </div>
 </div>
</nav>

<div class="container-fluid">
    {% if messages %}
        {% bootstrap_messages %}
    {% endif %}

    <h1><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Planning

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Planning <span class="caret"></span>
            </button>
        <ul class="dropdown-menu">
                {% for planning in planning_objs %}
                    <li><a href="#">{{planning.name}}</a></li>
                {% endfor %}
        </ul>
        </div>
    </h1>
    <div class="table-responsive">
<table class="table">
    <tr>
    {% for day in day_objs %}
        <th>{{day.name}}</th>
    {% endfor %}
    </tr>
</table>
</div>

</div>
</body>
</html>
